<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.mycreat.kiipu">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.SET_DEBUG_APP"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>

    <application
            android:name=".core.KiipuApplication"
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            tools:ignore="AllowBackup"
            android:theme="@style/AppBaseTheme">

        <!-- 友盟 -->
        <meta-data
                android:name="UMENG_APPKEY"
                android:value="5911e1a21c5dd0604e000e04"/>
        <meta-data
                android:name="UMENG_CHANNEL"
                android:value="Umeng"/>
        <!-- okHttp 默认缓存，也可以自定义  default path: android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule" -->
        <meta-data
                android:name="com.mycreat.kiipu.core.GlideModelConfig"
                android:value="GlideModule"/>

        <activity
                android:name=".activity.LoginActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activity.BookMarkActivity"
                android:screenOrientation="portrait"

                 />
        <activity
                android:name=".activity.WebViewActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme"/>
        <activity android:name=".activity.CollectionActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme"/>
        <activity
                    android:name=".activity.RecycleViewActivity"
                    android:screenOrientation="portrait"
                    android:theme="@style/AppTheme"/>
        <activity
                android:name=".activity.MainActivity"
                android:label="mainActivity"
                android:screenOrientation="portrait"
                android:theme="@style/NoActionBar"/>
    </application>

</manifest>